//color template for dark theme
$Green: #4FDAB8;
$LightBlue: #65AEEF;
$Blue: #4F789C;
$Yellow:#BDB780;
$LightBg: #1A212D;
$DarkBg: #111722;
$ExtraDarkBg: #0D1119;
$White: #FFFFFF;
$Grey: #97A7C1;
$LightGrey: #DDD;
$DarkGrey: #030303;
$Black: #000000;
$Red: #FB7777;
$VersionDarkBg: #1d2535;

// aboutUS
$aboutus_Grey: #adb5bd;
$aboutus_MainTitle: #28d19a;
$aboutus_SubTitle: #e9b768;
$aboutus_sectionTitle: #bdb780;
$aboutus_sectionTitleBg: #234547;